.slider-container {
  grid-area: slider;
  display: grid;
  grid-template-areas: 
    "slide slide"
    "dots next";
  margin-bottom: 24px;
}

.slider {
  grid-area: slide;
  position: relative;
  margin-bottom: -24px;
}

.first-slide {
  position: relative;
  z-index: 1;
  animation: animate-forward .6s forwards;
}

.placeholder-slide {
  position: absolute;
  animation: animate-back .6s forwards;
}

.slider-dots, .slider-next-btn {
  position: relative;
  z-index: 100;
}

.slider-dots {
  grid-area: dots;
  align-self: flex-start;
  padding: 0 .5em;
  pointer-events: none;
}

.slider-dot {
  margin: 3px;
  padding: 3px;
  width: 24px;
  height: 24px;
  transition: color .625s;
  color: black;
  text-shadow: 1px 2px 4px black;
}

.active-slide {
  color: #FFF;
}

.slider-next-btn {
  cursor: pointer;
  grid-area: next;
  line-height: 0;
  position: relative;
  color: #FFF;
  width: 48px;
  height: 48px;
  align-self: end;
  margin-top: -10px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-aspect-ratio: 9 / 6), (min-width: 768px) {
  .slider {
    justify-self: flex-end;
  }
  .slider img {
    max-height: 60vh;
  }
  .slider-container {
    justify-content: flex-end;
  }
  .placeholder-slide {
    left: -12.5%;
  }
}

@media (min-width: 768px) {
  .slider img {
    max-height: 320px;
  }
}
