.slider-container {
  grid-area: slider;
  margin-top: 24px;
  display: grid;
  grid-template-areas: 
    "dots next"
    "slide slide"
}

.slider {
  grid-area: slide;
  position: relative;
}

.slide {
  background-color: black;
  margin-top: -24px;
  display: grid;
  color: #FFF;
  grid-template-areas: 
  "slide-picture"
    "slide-text"
    "slide-audio"
}
.slide p, .slide audio {
  padding: .5em;
}
.slide picture{
  grid-area: slide-picture
}

.slide p {
  grid-area: slide-text
}

.slide audio {
  grid-area: slide-audio
}

.first-slide {
  position: relative;
  z-index: 1;
  animation: animate-forward .6s forwards;
}

.placeholder-slide {
  position: absolute;
  animation: animate-back .6s forwards;
}

.slider-dots, .slider-next-btn {
  position: relative;
  z-index: 100;
}

.slider-dots {
  grid-area: dots;
  align-self: end;
  padding: 0 .5em;
  pointer-events: none;
}

.slider-dot {
  margin: 3px;
  padding: 3px;
  width: 24px;
  height: 24px;
  transition: color .625s;
  color: black;
  text-shadow: 1px 2px 4px black;
}

.active-slide {
  color: #FFF;
}

.slider-next-btn {
  cursor: pointer;
  grid-area: next;
  line-height: 0;
  position: relative;
  color: #FFF;
  width: 48px;
  height: 48px;
  align-self: end;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
}

@media (min-aspect-ratio: 9 / 6), (min-width: 768px) {
  .slider-container {
    justify-content: center
  }
}
